.container{
  border-radius: 8px;
  padding: 16px;
  background: #fff;
}
.table{
   border-collapse: collapse;
}

.cell {
  border: 1px solid #999;
  padding: 0;
  
}
.cell:nth-child(3),.cell:nth-child(6),.cell:nth-child(9){ 
  border-right: 3px solid #333;
}
.cell:nth-child(1){
  border-left: 3px solid #333;
}
.table tr:nth-child(3) .cell,.table tr:nth-child(6) .cell,.table:nth-child(9) .cell {
  border-bottom: 3px solid #333;
}
.table tr:nth-child(1) .cell {
  border-top: 3px solid #333;
}

//

/* force last column thick border */
.table tr .cell:last-child {
  border-right: 3px solid #333;
}

/* force last row thick border */
.table tr:last-child .cell {
  border-bottom: 3px solid #333;
}


input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 23px;
  border: none;
  outline: none;
  background: inherit;
  color: rgb(19, 18, 18);
  cursor: default;

}
input:focus{
  background: #78b1eb;
  caret-color: transparent;
}

.same-row, .same-col, .same-box {
  background: #e6f0ff;
}

.status {
  font-weight: bold;
  position: absolute;
  top: 10px;
  background-color: black;
  padding: 10px 25px;
  border-radius: 10px;
  left:50%;
  transform: translate(-50%);
}

.green {
  background-color: #a6f1a6;
  transition: background-color 0.3s ease;
}